h2 = t('header.subscriptions')
h3 = @student.official_name

= link_to t('buttons.add'), new_student_subscription_path(@student)

= render 'subscriptions/subscriptions_table', subscriptions: @subscriptions, student: @student, edit: true
