h2 = t('header.lessons')

= link_to t('buttons.add'), new_lesson_path

= render partial: 'lessons/filter'
= render partial: 'lessons/table', locals: { lessons: @lessons, lesson_students_count: @lesson_students_count,
        lessons_revenue: @lessons_revenue }
